[2022-08-05 08:52] florissmit1 commented on #1020
Hey @hectorAguero, thanks for reporting your issue. I think using a ternary statement is the best solution in this case. The `CLLocationAccuracy.reduced` most of the times preserves the city you're living in, so the returned location can also be 20km from your actual position. So in fact, when using the LocationAccuracy parameter you always need precise positioning.

If you've other suggestions, p

[2022-08-05 08:58] mvanbeusekom commented on #396
@jaimin1531 can you collect a stacktrace on the Android side?

Are you sure this is triggered by the `getCurrentPosition` method?

Maybe you can supply a small example app reproducing the issue?

[2022-08-05 09:29] florissmit1 commented on #1106
Hey @parmeetmaster, thanks for your request. I did some research and I guess it's possible, but we will need to make some major changes to the Android implementation. I'm not sure if we will make the changes, will keep you up to date in this thread!

[2022-08-05 09:45] kiingxo commented on #172
i used this three to get it to work

NSLocationAlwaysUsageDescription

NSLocationWhenInUseUsageDescription

NSLocationAlwaysAndWhenInUseUsageDescription

[2022-08-05 10:22] florissmit1 commented on #1107
@kururu-abdo @hanko0206 thanks for reporting this issue. I can reproduce it when building a macOS/iOS application. I'm not sure what the problem is, but I solved it by building the application in xCode instead of through the terminal. I hope this will solve the issue for now. We will look into a proper solution for this, since it's incorrect behaviour.

[2022-08-05 10:37] jaimin1531 commented on #396
I don't have any code example. but will build one and share with you. I am facing this issue in only one device.
My code flow is something like
i call this function on google maps `onCameraIdle` function trigger

[2022-08-05 10:58] florissmit1 commented on #1111
Hey @dawiddszewczyk and @ggirotto. The `kCLErrorDomain error 1` will only occur when the user denied access to location services. Just a few things to get things straight; Did you add the `NSLocationAlwaysUsageDescription` key to your Infop.list, added the Background mode Capability to your project and requested the user for the `always` permission?

[2022-08-05 11:32] florissmit1 commented on #1110
Hey @mdoroff, thanks for reporting your issue. I guess you're right. You can make a PR yourself or I will do it for you, please let me know!

[2022-08-05 13:30] hectorAguero commented on #1020
Thanks, @florissmit1 ,

It would be helpful if the readme recommend the use of ternary for that case, or at least mention the required accuracy, with the column Accuracy Status that I let above.

[2022-08-05 16:56] mohamadkenway commented on #1109
Yes I'm deployed on HTTPS server
My code has no problem , because it works some in Chrome IOS browsers and it is OK in android browsers

[2022-08-05 16:57] mohamadkenway commented on #1109
My Suggestion is that we implement GPS in js platform channel

[2022-08-05 19:37] parmeetmaster commented on #1106
@florissmit1 if you feel okay, You can make me a contributor.I can add solution and create pull request,If you feel okay you can merge into main branch or do required updates.

[2022-08-05 19:54] ScottWallace commented on #1100
Same here, always returns denied even when service is enabled. No permissions requested in UI, just "denied".

[2022-08-07 18:04] ahaaje commented on #1116
It did not make any difference in the simulator when I removed the setting. I keep getting updated with 32-33 meters distance, even though the distanceFilter is set to 50m. I will provide more feedback when having seen the updated in action on physical devices.

[2022-08-08 09:59] weihenglim commented on #1040
How should one go about checking if the location stream is active? The onDone handler **does not** get called if the stream is cancelled.

[2022-08-08 12:46] P-Jay357 commented on #1082
I'm having a similar issue with 8.2.1 (and still when I updated to 9.0.1), where it will default to San Jose (the Lat and Long coords that @vinnytwice mentions). This only happens on the first install of the app, every other time it is opened it gets the correct location, and this issue only happens on Android Emulators (fresh or not fresh, it seems like it's the app's state that affects this - i.

[2022-08-09 09:25] Zverik commented on #1114
I've got multiple reports about the same issue. Geolocator for now is basically an interface to Google location services, and if I want to publish on e.g. F-Droid, I would need to switch libraries.

[2022-08-09 09:27] Zverik commented on #1013
Possibly related to #1027 and #1114.

[2022-08-09 10:24] willemvanleeuwen commented on #1073
We have done some trials with this plugin; unfortunately (as you hinted already) the results are the same;

Below is the track of an Android phone with you geolocator plugin:
![image](https://user-images.githubusercontent.com/11671067/183625724-f6e0a442-cbce-49e7-8f7e-e11806b5373d.png)

And below is the track of an iPhone in the exact same car:
![image](https://user-images.githubusercontent.com/11

[2022-08-09 12:36] TechInjectIndia commented on #1053
Facing Same problem @tigrenok00 How did you solve it. Please help

[2022-08-09 12:54] TechInjectIndia opened #1118 "Flutter build failing"
## 🐛 Bug Report

Cannot create flutter build after updating every thing in pubspec.

Error:

/Users/sumeet/.pub-cache/hosted/pub.dartlang.org/geolocator_android-4.0.2/android/src/main/java/com/baseflow/geolocator/location/BackgroundNotification.java:71: error: cannot find symbol
            notificationManager.createNotificationChannel(channel);

Flutter doctor:
[✓] Flutter (Channel stable, 3.0.5,

[2022-08-11 17:28] masus04 commented on #785
Can confirm, speed api works perfectly well on android phone but throws an error about the service being disabled on any wearOS device.

Any updates or plans on this?

[2022-08-14 11:26] masus04 commented on #785
I would be motivated to add wearOS support to the android plugin, if you can point me in the right direction.

[2022-08-16 15:01] Mevasir opened #1120 "[WEB] Firefox mobile (Android) browser changes location from allowed to blocked"
## 🐛 Bug Report

Firefox mobile browser changes location from allowed to blocked when using Geolocator.getPositionStream() or calling Geolocator.getCurrentPosition() too many times and too fast. It seems to work fine if there is delay between Geolocator.getCurrentPosition() calls.

Phone: Galaxy S8
Android:  9

### Expected behavior

Firefox shouldn't bloc location when it's allowed when using Geo

[2022-08-16 19:18] tyler-jewell commented on #1109
try building the web app with `--web-renderer canvaskit`

[2022-08-17 15:15] JulianBissekkou opened #1122 "getCurrentPosition will stop background location updates on iOS"
## 🐛 Bug Report

I am listening to a `.getPositionStream()` and I can receive location updates in the background. The user opens the app and interacts with a feature that calls `.getCurrentPosition`. After this method is called the app does not track the location in the background anymore. When you move the app into the background the blue system position indicator is gone (on the top left where t

[2022-08-17 15:16] JulianBissekkou commented on #1028
This might be related to #1122

[2022-08-19 08:23] adishmuhammed opened #1123 "Why android 33 sdk requirement ?"
An error says :
One or more plugins require a higher Android SDK version.
Fix this issue by adding the following to C:\Users\sss\Documents\projects\real\recycile_bin_app\android\app\build.gradle:
android {
  compileSdkVersion 33
  ...
}

is location services only available in android 13 ? which is only available for small number of android users

[2022-08-19 08:43] mvanbeusekom commented on #1123
No the location services are available on all devices between Android API 16 and Android API 33.

However we compile the library against the Android API 33 SDK so that we can use al of the latest features API 33 provides. Therefore app developers also have to update their application to compile against SDK 33. Again this doesn't mean the app will only run on Android 13 (API 33) devices.

Here are

[2022-08-19 08:43] #1123 closed

[2022-08-21 22:59] fredells commented on #1109
I'm seeing the same issue.

Here are my repro steps:
1. setup and run [the example code](https://pub.dev/packages/geolocator)
2. deploy to github pages
3. open in chrome on iphone
4. verify not working

I added some log messages:
[code]

[2022-08-21 23:19] fredells commented on #1109
@mohamadkenway okay i was able to resolve my issue. I needed to enable `Settings > Privacy > Location Services` on my iPhone. I added a prompt for users to do this when location could not be determined

[2022-08-22 17:15] mohamadkenway commented on #1109
may be you test it in other iphones , it will not work

[2022-08-22 20:05] mdoroff commented on #1110
I see that the documentation was updated, but cannot find the associated PR.

Closing! Thank you.

[2022-08-22 20:05] #1110 closed

[2022-08-22 23:00] heshesh2010 opened #1124 "9.0.1 deprecation in android build with sdk 33"
/Users/hesham/.pub-cache/hosted/pub.dartlang.org/geolocator_android-4.0.2/android/src/main/java/com/baseflow/geolocator/location/FusedLocationClient.java:199: warning: [deprecation] LocationRequest() in LocationRequest has been deprecated
    LocationRequest locationRequest = new LocationRequest();
                                      ^
/Users/hesham/.pub-cache/hosted/pub.dartlang.org/geolocator_

[2022-08-23 17:19] Frostlight commented on #581
Still happening as of now.

[2022-08-23 19:58] lindomarfarineli commented on #594
I got this error, so I upgraded the kotlin version that is used for building with gradle from 1.4.32 to the version used in the ide, which was plugin 1.6.10. Then it worked beautifully!
First go to Tools >> Kotlin >> configure Kotlin plugin update, then and update your version,
after
Go to build.gradle, look for the line 'ext.kotlin_version = '<your version>' '
and update as needed.

[2022-08-26 08:43] ebrahimmansur opened #1125 "GetCurrentPosition doesn't return a location on PDA android devices"
## 🐛 Bug Report

the get current position doesn't return a location
I tried to test it by placing a try catch and a  break point when calling  [  Geolocator.getCurrentPosition()] but never got a return value or a expectation thrown.

package version -> ^9.0.0

android device ->
https://www.senter-e.com/pda/5-7inch-pda/pda-android.html
android api 28

[2022-08-26 09:08] alfredoptarigan opened #1126 "Locale Identifier Not Working"
## 🐛 Bug Report

Locale identifier id_ID not working but sometime working. I don't know it's bug or not. But i'm pretty sure that my configuration are correctly.

![image](https://user-images.githubusercontent.com/62396803/186869586-ac3fd5f1-99aa-4c97-8544-c4965de100b9.png)

[2022-08-29 14:59] benyameenashraf commented on #1125
I'm facing the same issue on android using geolocator 9.0.1

[2022-09-01 04:36] akashsiddhpura commented on #1107
i face this error when try to run on IOS:

Semantic Issue (Xcode): Property 'sourceInformation' not found on object of type 'CLLocation *'

[2022-09-01 22:01] xellDart commented on #1124
Same error

[2022-09-02 05:01] pawan20 commented on #559
Updating to the latest version 8.2.1, resolved the issue for me

[2022-09-03 06:57] Wackymax commented on #1028
My guess is that Android eventually kills the activity hosting the Flutter engine. Using the foreground config just elevates the priority of the MainActivity making it less likely that Android will kill the application but it does not prevent it entirely. Foreground config is there mostly to help with short lived tasks where users may be switching between applications etc and you still want to kee

[2022-09-06 07:56] kururu-abdo commented on #1107
thanks
i run it in Xcode and the error has gone

[2022-09-07 08:22] stephancj commented on #1124
I got the same error. The only solution I found is downgrading compileSdk to 32, which is not suitable for my project since are starting to user Android 13

[2022-09-10 10:13] Wackymax commented on #1091
Was a cocoa pod configuration issue on my side

[2022-09-10 10:13] #1091 closed

[2022-09-10 10:17] Wackymax commented on #1124
The issue is most likely because of the "-Werror" flag that is specified in the build.gradle for the Android plugin. I am not sure if you can override this?

[2022-09-10 10:19] Wackymax commented on #987
@mvanbeusekom this can probably be closed?

[2022-09-15 06:19] ShinMyth commented on #1107
I experienced this problem and tried multiple possible solutions such as version downgrade from geolocator: ^9.0.1 to ^8.2.0, flutter pub cache repair and even removing other packages that might have a conflict with geolocator package and also the suggested fix on building it on xcode.

[2022-09-15 08:16] Morfeus73 opened #1128 "Not working on iOS 16"
## 🔙 Regression

The plugin seems not work anymore on iOS 16, Xcode 14.

### Old (and correct) behavior
Geolocator.isLocationServiceEnabled() was correclty getting the system service information.

### Current behavior
Geolocator.isLocationServiceEnabled() throws

### Reproduction steps
Compile the example with Xcode 14 and launch the app on iOS16 device.

[2022-09-15 18:07] Marco410 opened #1129 "No implementation found for method isLocationServiceEnabled on channel flutter.baseflow.com/geolocator"
## 🐛 Bug Report

MissingPluginException (MissingPluginException(No implementation found for method isLocationServiceEnabled on channel flutter.baseflow.com/geolocator))

### Expected behavior
I only need if the user activate their GPS

### Reproduction steps
It´s when i try to access to this function
final isEnable = await Geolocator.isLocationServiceEnabled();

### Configuration
Here is my flutte

[2022-09-16 03:23] alok1upadhyay commented on #1027
I have exact same issue on Android 12

[2022-09-16 07:27] Willham12 opened #1130 "start/pause/stop location updated"
## 🚀 Feature Requests

The function to start/pause/stop location updates are missing.
If you want handle the location updates depends on app life cycle its not possible to start/stop the location updates. Check code below.

### Describe the feature
[code]
### Platforms affected (mark all that apply)
- [x] :iphone: iOS
- [x] :robot: Android

[2022-09-16 07:44] mvanbeusekom commented on #1130
Hi @Willham12,

The geolocator follows the standard semantics of the Dart `Stream` class. This means location updates will start when you start listening to the stream and stop when you unsubscribe from the stream. To implement the behavior you are looking for consider the following code:

[code]

Note that I ignored the `getServiceStatusStream()` in this implementation but the idea is the same. T

[2022-09-16 07:44] #1130 closed

[2022-09-16 08:02] Willham12 commented on #1130
Thanks for the example, i tried that before but just paused `_locationSubscription`. In the case if you pause the `_locationSubscription` the blue badge on IOS is still visible. I need to cancel the `_locationSubscription`.

[2022-09-16 08:04] mvanbeusekom commented on #1130
In the example I provided I made an explicit distinction between the `pause`, `resume` and `stop` functionality:

[code]

[2022-09-16 09:37] #1124 closed

[2022-09-16 09:41] mvanbeusekom commented on #1124
Version 4.1.1 of the `geolocator_android` package has just been released removing the `-Werror` from the package `build.gradle` file which should no longer enforce this instruction onto app developers.

In the meantime we will also work on another update to fix the actual deprecation warning and make sure the root cause of this problem is also fixed.

[2022-09-17 15:13] joao10martins opened #1132 "Unhandled Exception: No location permissions are defined in the manifest. Make sure at least ACCESS_FINE_LOCATION or ACCESS_COARSE_LOCATION are defined in the manifest."
## 🐛 Bug Report

**Unhandled Exception: No location permissions are defined in the manifest. Make sure at least ACCESS_FINE_LOCATION or ACCESS_COARSE_LOCATION are defined in the manifest.**

I've added the permissions on the manifest and the info.plist, still the library will give this error when I run the app.

![image](https://user-images.githubusercontent.com/41446674/190863860-524573c4-78ff-42

[2022-09-17 18:19] mvanbeusekom commented on #1132
This seems a configuration mistake. I cannot reproduce the problem (apart from removing the permissions form the `AndroidManifest.xml` file).

Please make sure you added the permissions to the `AndroidManifest.xml` file located in the `android/app/src/main` folder and the syntax is correct.

As an sample have a look at the [example](https://github.com/Baseflow/flutter-geolocator/blob/6db78644a9a61

[2022-09-18 09:14] joao10martins commented on #1132
@mvanbeusekom
Here's the manifest:
![image](https://user-images.githubusercontent.com/41446674/190894826-18ab8ee3-5f20-4ba6-a217-8610ab71859a.png)

[2022-09-18 13:48] blubearec commented on #1128
Same here!

[2022-09-19 09:34] #1122 closed

[2022-09-19 11:15] YannickMaljaars commented on #1115
Hi @NickoftheSouth, I couldn't reproduce the same error on my machine.

When building the geolocator_windows/example/ app everything works as expected. In the issue you have linked there was a suggestion to update Visual Studio, then restart windows and proceed running ```flutter pub clean``` and ```flutter pub get``` in the project root.

Please also look at [this](https://github.com/Baseflow/flu

[2022-09-19 11:45] Wackymax commented on #1118
This should be resolved with the latest release.

[2022-09-19 11:46] Wackymax commented on #1103
@gusgonque can you try again with the latest release?

[2022-09-19 11:48] Wackymax commented on #999
Anyone familiar with iOS that can maybe help with a PR to resolve this?

[2022-09-20 06:44] wahyu-handayani commented on #1092
Hi, I actually get the same case like this. So when I run a stream  position function in initstate, it always get sudden close when I try it in simulator iOS 15.5, here is the code
[code]
I have been re-checked info.plist and it has the same configuration like https://pub.dev/packages/geolocator

[2022-09-20 19:43] michaelnabil230 opened #1134 "Location stream if the app is kill"
## 🚀 Feature Requests

We need some modifications to the package to support this feature because it is definitely useful for some people.

### Platforms affected (mark all that apply)

- [x] :iphone: iOS
- [x] :robot: Android

[2022-09-20 19:46] michaelnabil230 commented on #1134
In Apple's system, there is a action called 'startMonitoring' and it works when the user moves every 500 meters only, and I think so is for Apple's privacy policy.

[2022-09-20 19:48] michaelnabil230 commented on #1134
In the Android system, it supports this thing easily, but we need someone who is capable in that to add it to the hood without raising anything.

[2022-09-21 09:39] xcplus commented on #248
I have the same problem runing the example; Google Play Store is missing

[2022-09-21 13:16] avinashk369 commented on #1109
I would say this package alone is not responsible for weird behaviour when you request for location on safari browser.
I checked multiple web apps which works based on user location, even those web apps are not able to get the location on safari browser.
Even i am looking for the solution to get the user location on safari browser, i tried JS package with Mozilla Geolocation api but it didn't work

[2022-09-22 04:12] wahyu-handayani opened #1135 "Unable to get latitude and longitude"
Hi I am using ios simulator 15.5 and running this code:
[code]
when I try to print ```posisiNow.latitude```, I always get ```NoSuchMethodError: The getter 'latitude' was called on null.``` while... when I print: ```print(posisiNow)``` I get ```Latitude: 37.33233141, Longitude: -122.0312186```. That's only happen in ios simulator, when I try it in android it works fine. I have tried to get latitude

[2022-09-22 15:00] luttmfra commented on #1128
I get the same error message.

[2022-09-22 22:41] mathrocco opened #1137 "`Geolocator.checkPermission()` returns `denied` status both for `denied` and `deniedForever` on Android devices"
## 🐛 Bug Report

### Expected behavior

When user permanently denied location permission, `Geolocator.checkPermission()` method should return `LocationPermission.deniedForever` status instead of `LocationPermission.denied`.

This works as expected for iOS devices.

### Reproduction steps

1. Runs `Geolocator.requestPermission()` on Android app
2. Permanently deny location permission
3. Runs `Geolo

[2022-09-23 06:46] mvanbeusekom commented on #1137
Hi @mathrocco,

Unfortunately the Android SDK doesn't support this. This is explained into more detail in [this comment](https://github.com/Baseflow/flutter-geolocator/issues/1087#issuecomment-1163479678) for issue #1087.

Also have a look at our [Wiki](https://github.com/Baseflow/flutter-geolocator/wiki/Breaking-changes-in-7.0.0) page.

[2022-09-23 06:46] #1137 closed

[2022-09-23 08:48] mvanbeusekom commented on #1135
Hi @wahyu-handayani,

I have tested this using the geolocator example app on iOS 15.5 simulator and cannot reproduce this error. I have also been over the code base of the plugin but came to the conclusion the returned position cannot be `null` (if so you should see a whole bunch of `ArgumentError`s). This code is working perfectly fine for me:

[code]

Based on the description this feels like a s

[2022-09-23 09:04] mvanbeusekom commented on #1132
Hi @joao10martins,

Another option that might give some a clue is to check the `build/app/outputs/logs/manifest-merger-release-report.txt` file? This is generated after you make a release build. This file contains all information on how the final AndroidManifest.xml is created and which merge actions occurred.

This log might give some information about the permissions being removed or skipped dur

[2022-09-23 09:10] wahyu-handayani commented on #1135
@mvanbeusekom Hi I think I make a mistake for my question and revise it just now. For additional at some time my app often crash and get sudden close, I have been checking my info.plist and have been adding this configuration:
[code]
I believe that there is something wrong with my ios configuration and this case is the same case like
https://stackoverflow.com/questions/64962353/flutter-app-crashes

[2022-09-23 09:15] vreallyla opened #1138 "get PermissionInProgressException"
## 🐛 Bug Report

i call the location permission function from `initState` . i get this exception for some reason when i start the emulator

![ss1](https://user-images.githubusercontent.com/26514265/191928419-c706a3ff-c08e-498b-9e9a-55aa51dc738a.jpeg)

it happens on iOS only. everything works properly on Android.

### Configuration
`class _HomeState extends State<Home> {
  @override
  void initStat

[2022-09-23 09:19] heedongrichrich commented on #1028
So this issue is related with the flutter-debug job?
I am developing background mode related app and got this message.
[code]

At a glance, I thought that I implemented native side in a wrong way.

[2022-09-23 09:19] mvanbeusekom commented on #1135
Can you provide a small example application demonstrating the same behaviour? As mentioned the problem doesn't occur using the example application making it really difficult to help out. Please also include the output of the `flutter doctor -v` command.

[2022-09-23 09:56] mvanbeusekom commented on #1138
Hi @vreallyla,

This happens when the `Geolocator.requestPermission()` method is being called a second time while the first call is still in progress.

From the code shown it is hard to determine why this is happening. Assuming the `_HomeState._getGeolocationPosition` method is the only place the `Geolocator.requestPermission()` method is being called, the easiest way to debug this would be to set

[2022-09-23 13:53] mathrocco commented on #1137
@mvanbeusekom thanks for the quick reply, I wan't able to find the linked issue.

[2022-09-23 14:58] Polibuzz commented on #1128
I'm using Flutter and have a button to bring me to current location which works my device but doesn't work when using the iPhone simulator. But I'm also getting this same error.

[2022-09-23 15:57] Abdelilahskali commented on #1091
Hell all to resole this problem you can add  Background modes => Location update in Signing & Capabilities
![Screen Shot 2022-09-23 at 16 55 52](https://user-images.githubusercontent.com/6975959/192002745-0df21d84-7b08-4e23-b15e-8c05f0a96f09.png)

[2022-09-24 02:16] DanMossa commented on #1015
I have both of those in my Android Manifest and it still doesn't work
@bahiraei

[2022-09-26 00:41] wahyu-handayani commented on #1135
@mvanbeusekom Hi, I am so sorry to take very long time to reply, I will upload it today

[2022-09-26 03:03] wahyu-handayani commented on #1135
https://user-images.githubusercontent.com/55479207/192185751-008d11ef-def4-4f17-a0fe-c86da63e7eb1.mov

Hi @mvanbeusekom this is short capture while the app is forced to close after I open the maps page

[2022-09-26 03:08] wahyu-handayani commented on #1135
Here is ```flutter doctor -v```
[code]

[2022-09-27 12:26] montrifork commented on #1114
Remember that you need to be outdoor to have the GPS of the phone getting locations.

[2022-09-28 07:44] joao10martins commented on #1132
I fixed it, notice that permissions is written with 3 's' characters :)

[2022-09-28 07:54] mvanbeusekom commented on #1132
Hahaha nice, I also completely missed that. Good to hear it is fixed and thanks for letting us know.

[2022-09-28 07:54] #1132 closed

[2022-09-28 11:14] amadejzr opened #1139 "Position problems with android 12&13"
Hello,

When I try to run this code on Android 12&13. I tried different locationSettings but it didn't work.

[code]

It returns the same latitude and longtitude, even if I change the location and call this function again.

<img width="366" alt="Screenshot 2022-09-28 at 13 09 25" src="https://user-images.githubusercontent.com/64590260/192764439-b27d7ed5-2883-4fa7-b002-2b87ae548a25.png">
<img width

[2022-09-29 06:33] #1139 closed

[2022-09-30 07:38] MrAlessandro commented on #1015
Downgrading at 7.5.0 as @droidpl said worked for me

[2022-09-30 20:23] dark-chocolate opened #1141 "getPositionStream gives location updates after every 2 seconds on Android"
## 🔙 Regression

The `Geolocator.getPositionStream` takes 2s to give the location updates on Android. This works absolutely fine on iOS, the below code prints the value about every second.

### Old (and correct) behavior

It used to take about 1s to give location updates.

### Current behavior

Now it takes more than 2s.

### Reproduction steps

Put the following code in any `State`'s subclass (of

[2022-09-30 20:52] dark-chocolate commented on #1141
Setting
[code]

fixed the issue, because as the docs says

This behavior is still confusing. We should provide the same 1s location updates on both iOS and Android.

[2022-09-30 20:52] #1141 closed

[2022-10-01 13:48] ValentinTaleb opened #1142 "Android foreground notification is not cleared after position Stream is cancelled"
## 🐛 Bug Report

On Android, it's possible display a foreground notification in order to keep recording location updates even after the user has moved the app in the background.

This notification does not disappear after the position stream as been cancelled.

### Expected behavior

The Android foreground notification should disappear once the position stream has been cancelled.

### Reproduction

[2022-10-02 13:45] AliEasy commented on #981
your solution is not working for me.....
you have any other idea?
could you please share the permissions given inside your app manifest?!

[2022-10-02 19:15] Zverik commented on #1114
The problem is, even the GPS symbol does not appear in the status bar. It just does not communicate with the relevant services. Weirdly, even reverting to `geolocator_android 3.0.4` does not help.

[2022-10-03 12:02] i-dentify opened #1144 "Revoking permission while listening to stream"
Hi!

I wonder what happens, if my app starts listening to the position stream and then the user retracts the permission from app settings.

To be more concrete:

1. My app asks the user for permission to access location services
2. User allows this
3. My app starts listening to the position stream
4. User switches to the device app settings and revokes the permission there

Is there any chance to

[2022-10-03 15:00] jjoelson opened #1145 "Why is `Position`'s `timestamp` property nullable?"
Thanks for creating this great package!

I was wondering why the `Position` `timestamp` property is `DateTime?` instead of `DateTime`. I did a quick scan of the `getPositionStream` implementation for iOS and Android and it looks like [`CLLocation.timestamp`](https://developer.apple.com/documentation/corelocation/cllocation/1423589-timestamp) and [`android.location.Location.getTime()`](https://deve

[2022-10-04 06:31] ValentinTaleb commented on #1142
Am I the only one who experiences this issue?

[2022-10-04 07:18] dark-chocolate opened #1146 "Incorrect speed in Android using getPositionStream"
## 🐛 Bug Report

The `Position.speed` returns some random speed even when the device is not moving. When I did the native implementation myself, I found that the `LocationListener.onLocationChanged` method actually reports 0.0 speed but geolocator doesn't.

### Expected behavior
The `Position.speed` should return `0.0` when the device isn't moving.

### Reproduction steps
1. Install the app.
2. Gr

[2022-10-04 14:18] Lars-Sommer opened #1147 "Experiencing slow speed when asking for position"
I don´t know if it is supposed to be this slow, but when I call await `Geolocator.getCurrentPosition()` it takes around 3-6 seconds for the Geolocator to return an answer. Both on a real modern Android phone device, and an Android emulator.
Is this normal, or is it possible to do anything about it?

[2022-10-04 18:09] Sayene commented on #1116
We can see the issue on iOS 16 simulator as well. Even though position is not changing at all the stream continues to fire callback every 1 second (with the same position value). pauseLocationUpdatesAutomatically is set to true; Changing activityType, accuracy and distanceFilter does not seem to have any effect.

[2022-10-05 23:21] Juan-EZ commented on #1142
I am experiencing the same issue. The notification persists even after I force close the app on Android

[2022-10-07 10:37] tayyabmughal676 commented on #1128
[CoreLocation] This method can cause UI unresponsiveness if invoked on the main thread. Instead, consider waiting for the `-locationManagerDidChangeAuthorization:` callback and checking `authorizationStatus` first.

Waiting for a possible solution. :)

[2022-10-08 09:22] tiyebm opened #1148 "LocationAccuracy.best is returning an accuracy around 124m"
[code]
This is gives me 124m on android, and it is supposed to be 0-100m, so instead of best or high, we want to be able to pass the required accuracy in meters.

[2022-10-08 09:26] #1148 closed

[2022-10-08 09:38] mvanbeusekom commented on #1148
Hi @tiyebm,

That is unfortunately not how the Android location API works. Android allows setting a priority which determines the accuracy of the location information which is documented [here](https://developers.google.com/android/reference/com/google/android/gms/location/LocationRequest#setPriority(int)).

The `LocationAccuracy.high` and up will map to the `PRIORITY_HIGH_ACCURACY` priority setti

[2022-10-08 09:46] tiyebm commented on #1148
Thank you for the clarifications, I will take this chance to ask you about `desiredAccuracy: LocationAccuracy.values`, what is it for and how to implement it?

[2022-10-08 09:59] mvanbeusekom commented on #1148
The `desiredAccuracy` property controls the level of precision the app uses to access location settings. When requesting a location you need to tradeoff between power consumption and accuracy. If you need high accuracy results you should set the `desiredAccuracy` field to `LocationAccuracy.high` or `LocationAccuracy.best` (both result in the highest `Priority.PRIORITY_HIGH_ACCURACY` priority on An

[2022-10-08 10:06] tiyebm commented on #1148
One other question is, is there a way to know the accuracy in meters based on the result of `getCurrentPosition`?

[2022-10-08 10:12] mvanbeusekom commented on #1148
No there is not an exact measurement, you can however check the `Position.accuracy` field to get an estimation in meters. Documentation here: https://pub.dev/documentation/geolocator_platform_interface/latest/geolocator_platform_interface/Position/accuracy.html

Again this is no guarantee, in general it means the lower the number the more accurate the position.

[2022-10-08 10:14] tiyebm commented on #1148
Thank you very much for quick response, time and effort.

[2022-10-08 11:12] kekko7072 commented on #1128
+ 1

[2022-10-09 22:21] fleoparra commented on #1142
Same problem here. Notification continues after cancel the stream.

[2022-10-10 10:42] MrCheese02 commented on #1142
I can confirm the same problem. After all subscriptions are cancelled I receive the following log messages:
[code]
However, upon the app's and the Geolocator service's startup it only reports about one connection to the Flutter engine.
[code]

[2022-10-10 11:20] habanoz commented on #1142
Same

[2022-10-10 16:05] paulosousadias opened #1149 "Android if location is off, it shows a popup for the user to turn on, and on yes, I'm not getting positions, only works if location already enabled"
## 🐛 Bug Report

First of all thanks for this library.

On Android, if location is disable, the lib asks for permission and Android asks for the user to connect the location.

After that no location is able to be read.

If the app gets restarted, with the location activated on the phone, all works as expected. Even if I turn location off and on on the phone, location info gets in to the applicatio

[2022-10-10 17:58] alkammar commented on #1142
Same problem. It started to happen to me when I added a plugin that runs a service besides the service from the geolocator plugin. If a remove that plugin the location service is closed properly. Seems it does not check which type of service is running or mistakenly thinks the other plugin's service is also a location service.

[2022-10-11 07:07] Wackymax commented on #986
It's a single log entry I added to confirm the code reached the end of the destroy method. Rest of the code is the same as the master branch.

[2022-10-11 14:10] timbotimbo opened #1150 "[Android] Upgrade Approximate location to Precise location"
## 🚀 Feature Requests

Relevant for Android 12+.
Add functionality to change an existing approximate location permission to precise, without leaving the app.

### Contextualize the feature

Calling `Geolocator.requestPermission()` will show the left dialog in the below image.
Click 'Approximate' and 'While using' to get a reduced location permission.

Given the reduced permission:
- Calling `Geolo

[2022-10-11 17:21] anovis commented on #999
any updates on this?

[2022-10-11 17:29] huzaifansari54 commented on #1044
hello sir can i work on this issue ?

[2022-10-11 17:31] Tom3652 opened #1151 "[CoreLocation] This method can cause UI unresponsiveness if invoked on the main thread"
## 🐛 Bug Report

I am seeing this "warning" in my logs :

[code]

### Expected behavior

I would like my app to not experience any "UI unresponsiveness" if it's possible to avoid it.

### Reproduction steps

Run the sample app on an iOS 16 device.

**Version:** 9.0.2

**Platform:**
- [ ] :iphone: iOS

[2022-10-11 21:34] zbarbuto commented on #999
@anovis I think it probably won't be getting fixed as it's an issue with the SDK provided by Apple [per this comment](https://github.com/Baseflow/flutter-geolocator/issues/1040#issuecomment-1149660004).

[2022-10-13 12:04] YannickMaljaars commented on #1144
Hi @i-dentify,

I believe this would not be possible, since android kills all app processes if you revoke a permission while the app is running. This means the app will restart and therefore it will not be possible to listen for such an event.

[2022-10-13 12:28] i-dentify commented on #1144
Hi @YannickMaljaars

thanks for explanation. At least this explains, why I constantly loose connection to the emulator in such a case. For iOS emulator this indeed is not the case - the app kept on running there but then threw exceptions.

[2022-10-13 14:50] i-dentify opened #1152 "No further position received from stream"
## 🐛 Bug Report

With location permissions being set to "Accuracy: reduced" I only receive a position when starting the stream - but no further position.

### Expected behavior

At least with lowest accuracy submitted via settings there should be a constant position stream.

### Reproduction steps

Code, that starts the stream.

[code]

I also tried setting the accuracy to a lower mode step by ste

[2022-10-14 03:18] bazrafkan commented on #1142
Same problem
geolocator: ^9.0.2

[2022-10-14 03:49] bazrafkan commented on #986
I have same problem with last version of geolocator_android (4.1.3) and geolocator(9.0.2)

E/FlutterGeolocator(24168): Geolocator position updates stopped
E/FlutterGeolocator(24168): There is still another flutter engine connected, not stopping location service

[2022-10-14 05:24] Wackymax commented on #986
I am not entirely sure what you are asking? What you are seeing in the log messages is that you have multiple Flutter engines using the location service so it's not going to shut down otherwise the other Flutter engine won't receive location events.

I am also not seeing nor am I able to reproduce the issues reported by @bujdy

[2022-10-14 05:27] Wackymax commented on #1142
I will have a look at this

[2022-10-14 08:39] ValentinTaleb commented on #1142
Thank you very much @Wackymax

[2022-10-14 09:20] #986 closed

[2022-10-14 09:23] mvanbeusekom commented on #1142
Version 4.1.4 of the `geolocator_android` package was just released which if I understand correctly should resolve this issue. Would it be possible for someone to test this and let us know?

To get the latest version run `flutter pub upgrade` in your project.

[2022-10-14 09:42] MrCheese02 commented on #1142
For me the upgrade resolved the issue. Thank you for the fast response to it @Wackymax @mvanbeusekom !

[2022-10-14 10:02] bazrafkan commented on #1142
For me too after upgrade is working. Thanks @Wackymax @mvanbeusekom

[2022-10-14 12:10] mvanbeusekom commented on #1142
Thanks for the feedback and active responses to help debug this issue. I am going to close this issue. If any future problems occur please report it as a new issue.

[2022-10-14 12:10] #1142 closed

[2022-10-15 15:05] amenk commented on #1021
Maybe the branch by @zverik is helpful? https://github.com/Zverik/flutter-geolocator/tree/floss

[2022-10-15 15:07] Zverik commented on #1021
Or try adding `forceLocationManager: true` to location settings, as written in the documentation.

[2022-10-17 10:51] pilojanmobile commented on #1065
still same issue

workmanager: ^0.5.0
geolocator: ^9.0.2

[2022-10-17 13:02] furkansoylemez commented on #1116
Same here with @Sayene , any solutions ?

[2022-10-18 08:51] JulianBissekkou commented on #1128
Is this a duplicate of #1151?

[2022-10-18 09:02] JulianBissekkou commented on #1152
Which version of the plugin are you using?

[2022-10-18 09:07] i-dentify commented on #1152
`geolocator: ^9.0.2`

[2022-10-18 12:39] bambinoua opened #1154 "Use `ServiceStatus` enumeration from `permission_handler_platform_interface`"
In my app I use both packages `flutter_geolocator` and `permission_handler`. Both packages reference on their own _platform interfaces_. Both interfaces contains `ServiceStatus` enumerations but they are different.

**geolocator_platform_interface**
[code]
**permission_handler_platform_interface**
[code]

Is is possible to use in package `flutter_geolocator` the `ServiceStatus` enumeration from `p

[2022-10-18 15:58] michaelnabil230 commented on #1134
I'm not a swift programmer but I've been a bit researched and I've decided to write this simple code to fetch the current site if the app is permanently locked from the background.

I send a request on API mocking so I can check whether it works or not and I see that it is working well.

But sometimes when you install the application for the first time, you are not asked to take the site in the ba

[2022-10-18 16:11] michaelnabil230 commented on #1134
When you lock the simulator and run, you will see that message to allow the application to run in the background and send your location.
<img width="405" alt="Screen Shot 2022-10-18 at 6 08 05 PM" src="https://user-images.githubusercontent.com/46572405/196484623-10ce9f54-011a-4b23-9be9-0834830ef20a.png">

[2022-10-18 16:14] michaelnabil230 commented on #1134
When you change it to always allow, everything will work well

[2022-10-22 14:46] paulosousadias commented on #1149
Another info. I tested with your example and it works for the v7.7.1, but from v8 forward has the same behavior.

If Location is already enabled, all works as expected. If is disable, the stream does not gives positions, but the get current position works.

[2022-10-24 06:16] xyhuangjia commented on #773
so magic

[2022-10-24 09:03] ahmedNagar123 opened #1156 "Geolocator.getCurrentPosition not working with huwawei and vivo"
Geolocator.getCurrentPosition not working with huwawei and vivo nothing Position returned

[2022-10-24 15:30] Igormikheev commented on #1156
same issue

[2022-10-24 21:22] Igormikheev commented on #1129
same issue

[2022-10-24 22:26] singhviveksoft opened #1157 "Execution failed for task ':geolocator_android:compileDebugJavaWithJavac'."
When compileSdkVersion is 33

[2022-10-25 05:59] mvanbeusekom commented on #1157
Have you installed the Android 33 SDK from the SDK manager?

Provide more details so we can really help, at least the following:

- complete exception message
- output of `flutter doctor -v` command

[2022-10-25 07:24] hamsaco opened #1158 "App crashes when asking for permission"
## 💬 Questions and Help

For questions or help we recommend checking:

- The [Flutter tag in Stack Overflow](https://stackoverflow.com/questions/tagged/flutter)

the code:
[code]
when crash:
[code]

my manifest:
[code]

[2022-10-25 11:01] Tom3652 commented on #1128
I do see the same logs but the plugin is still able to fetch the localization on iOS 16 on my devices

[2022-10-26 13:32] Shen-Zen commented on #1129
same

[2022-10-27 12:13] bernhardt555 opened #1159 "timer on the foreground notification. Possible?"
Hi I want to put a timer on the foreground notification but whenever I try to update the notification it does not update at all.

[code]

[code]

[2022-10-27 14:50] jaca420 opened #1160 "Location keeps triggering when running a Flutter web app from an Android device"
I  recently decided to move a mobile application that I was working on to web but the location service keeps changing every second for some reason. The _toggleListening function is called by a button that turns on and off location listening.

[code]

[2022-10-28 05:42] zorro2b commented on #1116
I have tracked this to an interaction between the getCurrentPosition() and getPositionStream().

If you call getPositionStream() with your desired distanceFilter, it is set correctly. But as soon as you call getCurrentPosition() it changes the distanceFilter to kCLDistanceFilterNone.

Because there is only one CLLocationManager instance in use, this changes the filter for the position stream as we

[2022-10-31 07:49] BaoVu1989 opened #1161 "On Android device, when we go to Background to tracking gps, it will appear a notification and then we kill the app but the notification won't be disappeared."
## 🐛 Bug Report

### Expected behavior

### Reproduction steps

### Configuration

**Version:** 1.x

**Platform:**
- [ ] :robot: Android

[2022-11-01 07:12] wolru opened #1162 "throw error when checkPermission"
Hi, Geolocator.checkPermission() throw error when permission is denied in Android

Library version is
geolocator: ^9.0.1

[2022-11-01 10:04] alihassan04ali opened #1163 "[Bug] Could not load compiled classes for build file 'D:\flutter\.pub-cache\hosted\pub.dartlang.org\geolocator_android-4.1.4\android\build.gradle' from cache."
After including this package in flutter sdk 3.3.0 i got error during build

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':geolocator_android'.

[2022-11-01 10:11] mvanbeusekom commented on #1162
Please help us help you and provide more details:

1. Please provide the full stack trace of the error you received.
2. Provide clear reproduction steps, give a description of the steps you took resulting in the error (walk us through the state of your application).
3. Provide a list of permissions you added to the `AndroidManifest.xml` file (this should match the permissions documented in the `an

[2022-11-02 04:56] Retr0sec7 opened #1164 "`Geolocator.getCurrentPosition()` is not working on Web as stablished on docs"
I'm trying get the current position of the client when the app is running on a web browser. The issues are:

* `checkGeolocationPermissionStatus()` is failing on web, returning an error with the following message: `UnsupportedError (Unsupported operation: Platform._operatingSystem): "Platform._operatingSystem"`. This causes the application to throw (or not doing anything at all, it just breaks out

[2022-11-02 22:04] bmonson commented on #1164
We are also having an issue with version 9.0.2 where the positionFuture in getCurrentPosition seems to never resolve in this line of code:
https://github.com/Baseflow/flutter-geolocator/blob/08c1f285b0ed44fa0cd580e9ff9697df9407b31c/geolocator_android/lib/src/geolocator_android.dart#L121

[2022-11-03 00:11] Retr0sec7 commented on #1164
@bmonson that file seems to be related to the android handler for geolocator. Is it happening on Android/Mobile devices as well? For me it's working on mobile (tested on Android, not iOS), the portion of code I provided after the `//Mobile...` comment works fine.

[2022-11-03 05:01] F7085 commented on #1164
i'm also having the same issue as @Retr0sec7 , for me it works on mobile/android but in web it breaks when calling  `Geolocator.getCurrentPosition()`

[2022-11-03 15:49] kyeshmz opened #1165 "Refactor Position fromMap method to explicitly require Map<String, dynamic>"
## 🏗 Enhancement Proposal
Currently, the interface asks for a `dynamic` type, which is then converted to a `Map<dynamic, dynamic>` though there are operations inside that are looking for a Json - esque type.
The `Map<dynamic, dynamic>`  should be `Map<String, dynamic>` as well as show the user that this type of input is necessary.

### Pitch
It makes it more easier for developers to catch bugs

##

[2022-11-03 16:10] kyeshmz commented on #1165
I looked into what might be the problem, but it seems like it is not as easy as just changing the positionMap referenced inside of the models/position.dart to be `Map<String,dynamic>` as many of the internal code is converting from `_InternalLinkedHashMap<Object?, Object?>'`

There are some instances in which the code just automatically assumes its type,

geolocator_apple.dart
[code]

The code bel

[2022-11-03 16:13] Retr0sec7 commented on #1162
Hi @wolru. Recently I created a flow that checks for permission status on Android devices (not sure if it works on iOS). Turns out that `Geolocator.checkPermission()` is no longer a thing (docs seems to be outdated). The method working to check permissions is called `Geolocator.checkGeolocationPermissionStatus()`. This is will return a GeolocationPermissionStatus object with value (int) which is o

[2022-11-03 16:55] mvanbeusekom commented on #1162
@Retr0sec7, can you please remove the above comment. The `checkPermission()` is most certainly still "a thing". The method `checkGeolocationPermissionStatus()` is not part of the Geolocator package and not supported by us.

[2022-11-03 17:09] mvanbeusekom commented on #1164
@Retr0sec7, the method `checkGeolocationPermissionStatus()` is not a method supported by the current versions of the geolocator package. This method was removed in version 6.0.0 of the Geolocator plugin. If you are still using this I recommend updating to the latest version (9.0.2). Since web support is only added in version 6.2.0 of the geolocator plugin this would explain the errors you receive.

[2022-11-03 17:31] mvanbeusekom commented on #1162
Hi @wolru,

This error is guaranteed only thrown when calling the `getCurrentPosition`, `getPositionStream` or `getLastKnowLocation` method while the user has denied permission.

This means the application makes a call to one of the above methods without first checking if permissions are granted. This error cannot be thrown from calling the `checkPermission` method as mentioned in your original qu

[2022-11-03 17:31] #1162 closed

[2022-11-04 06:57] lahirunc opened #1166 "[Bug] `Geolocator.getPositionStream` listener gets updates even the device is not moved in iOS"
## 🐛 Bug Report

`Geolocator.getPositionStream` listener gets updates even the device is not moved.

[code]

Log:
[code]

**Version:** 9.0.2

**Platform:**
- [x] :iphone: iOS (16.0.2)
- [ ] :robot: Android

[2022-11-04 07:54] mvanbeusekom commented on #1166
Hi @lahirunc,

This is expected behaviour and how GPS works. The device will acquired the location on several time intervals and pass it along to the listener.

If you want it filtered you can pass in an instance of the `AppleSettings` (or it's base class `LocationSettings`) object and set a `distanceFilter` in meters. This will still acquire the location but only inform you about it when the dist

[2022-11-05 08:57] DmitrySikorsky commented on #1129
I can confirm that it doesn't work on macOS Monterey.

[2022-11-05 10:24] DmitrySikorsky commented on #1129
Hm, but if I manually add 'geolocator_apple' package to pubspec.yaml, I can call `Geolocator.isLocationServiceEnabled()` and even `Geolocator.requestPermission()` on macOS.

[2022-11-05 11:14] DmitrySikorsky commented on #1129
So, I allowed location, checked in the privacy and security settings that the app has location permissions, also the `await Geolocator.checkPermission()` returns 'always', but when I call the `await Geolocator.getCurrentPosition(desiredAccuracy: LocationAccuracy.high)` I receive 'user denied permissions to access the device's location' exception on macOS.

[2022-11-05 11:45] DmitrySikorsky commented on #1100
Same for me. `await Geolocator.requestPermission()` shows dialog, but even if I allow, then I have denied exception.

[2022-11-06 22:21] lahirunc commented on #1166
@mvanbeusekom It seems not working as expected. I have assigned `distanceFilter=150`  which was working well before i upgraded the package from `9.0.1` -> `9.0.2`. I didn't have similar issues.

[2022-11-07 23:10] lahirunc opened #1167 "Geolocator.getPositionStream listener gets updates even the device is not moved in iOS"
Sorry if i'm spamming but I'm stuck at this point because of this issue (https://github.com/Baseflow/flutter-geolocator/issues/1166) which was closed prematurely.

**Version:** 9.0.2

**Platform:**
- [x] :iphone: iOS (16.0.2)
- [ ] :robot: Android

This was working fine in `9.0.1`

`Geolocator.getPositionStream` listener gets updates even the device is not moved.

` positionStream =
        Geoloc

[2022-11-08 05:35] nikohpng opened #1168 "Window demo crash in Win7"
## 🐛 Bug Report

### Expected behavior

Window demo crash in Win7

### Reproduction steps

I make a debug pacakge to run it

**Version:** 9.0.2

**Platform:**
- [ ] 🪟 : Windows

[2022-11-08 06:11] #1157 closed

[2022-11-08 07:14] mvanbeusekom commented on #1167
Duplicate of #1166, which I will re-open.

[2022-11-08 07:15] #1167 closed

[2022-11-08 16:48] mvanbeusekom commented on #1166
Looking at the code sample the `LocationSettings` are created after the call to the `getPositionStream` method. For the `LocationSettings` to have effect they need to be created before calling `getPositionStream`:

**BAD:**
[code]
**GOOD:**
[code]

I am assuming it is used correctly in the application, but I want to make sure as the code in the original question suggests otherwise.

[2022-11-08 23:27] lahirunc commented on #1166
@mvanbeusekom Yes it has been used the way you suggest as good. Sorry for the confusion. Is there a fix for it?

[2022-11-09 10:38] dangabdolfo opened #1170 "Permission request does not appear on Safari"
## 🐛 Bug Report

When I call `Geolocator.requestPermission()`, on IOS in PWA mode, the system permission dialog does not appear.
Have you an idea or a workaround?

Thanks for your help.

### Expected behavior
When I call `Geolocator.requestPermission()`, I should show the system permission dialog.
### Reproduction steps
To reproduce this bug, you must:
- A web server in HTTPS ('secure contexts' is

[2022-11-09 16:15] jbxbergdev opened #1171 "forceLocationManager = true may still default to fused location"
When setting `forceLocationManager: true` in `AndroidSettings`, geolocator may still request fused location provider.

The reason: `LocationManagerClient` calls [`LocationManager.getBestProvider()`](https://developer.android.com/reference/android/location/LocationManager#getBestProvider(android.location.Criteria,%20boolean)) in order to get an appropriate location provider. This method may return

[2022-11-10 07:40] Faiizii commented on #567
Where to catch `TimeoutException`?

[2022-11-10 14:19] liamsammut97 opened #1172 "Can Geolocator track location when app is killed ?"
## 💬 Questions and Help

For questions or help we recommend checking:

- The [Flutter tag in Stack Overflow](https://stackoverflow.com/questions/tagged/flutter)

[2022-11-11 12:04] irjayjay commented on #142
Still an issue in Android, right? It always returns 0 for me.
This thread is old, but I don't see any resolution for Android here.

[2022-11-14 09:49] dario-digregorio commented on #1128
I am unable to build my app. Is there a temporary solution?

[2022-11-15 14:56] tongclement commented on #1172
+1

[2022-11-15 14:57] tongclement commented on #1172
Same Question @liamsammut97 - did it work for you? Many thanks!

[2022-11-15 15:00] liamsammut97 commented on #1172
Hey, i dived a-bit deeper into the issue but it seems that once the app is killed (not the same as put in the background) the instance of the app is removed thus it wont be able to run the package to fetch the location.

[2022-11-15 15:06] tongclement commented on #1172
Thanks so much @liamsammut97 - interesting as I do see the documentation here including words like "running in the background" https://pub.dev/packages/geolocator

[code]

[2022-11-15 15:08] tongclement commented on #1172
Oh, I see - You are referring to the app being killed and not in the background. I am not sure about what happens when the app is killed but I assume it will work when it is in the background just like google maps still running when you open another app, with the blue pill location icon indicating the location is being used. Thanks anyways and good luck on finding the answer you need.

[2022-11-15 15:14] liamsammut97 commented on #1172
No problem at all, running in the background is a (background state)
Basically its when minimizing the app to the background but not killing/terminating it

[2022-11-16 07:24] codebombi commented on #1082
geolocator 8.2.1 I do not know but why the API 28 Pie emulator works, but your example the "Set Location" button - for me does not work on emulator API version 29 30 31 --> loop D/FlutterGeolocator(26734): Attaching Geolocator to activity
D/FlutterGeolocator(26808): Attaching Geolocator to activity.
I will work in the API emulator 28 Pie. maybe this will help someone.

[2022-11-16 21:32] tannker commented on #1166
I have encountered the issue with latest versions in scenario when Geolocator.getCurrentPosition() is called while Geolocator.getPositionStream(locationSettings: locationSettings).listen() is active. After that position stream start to trigger every second regardless of device movement.

[2022-11-17 00:12] masus04 commented on #785
Hi @mvanbeusekom

I just realized now that you offered to help implement it :)

I only develop on Android Studio, using the provided WearOS emulator. It is quite simple to use and the error seems to be identical to the one @weissloic describes.

I can post the stacktrace I receive below:
[code]
There's not really anything useful in there as far as I can tell. I assume there's a different API that

[2022-11-17 00:43] laura-rodriguez8 opened #1174 "Geolocator.getPositionStream takes too long"
## 💬 Questions and Help

Hi!
I'm currently working on a project when I need a UAV to follow the location of my phone. The plugin has been very helpful, how ever I'm getting data of latitude and longitude in intervals of 4 seconds using  `Geolocator.getPositionStream` to constantly update the data  , is it possible to get the geolocation points with intervals of 10 milliseconds?

I am testing on my

[2022-11-17 02:03] lahirunc commented on #1166
Same here any fix or work around for this? This issue causes massive battery drain when I run the app.

[2022-11-17 17:11] #1164 closed

[2022-11-18 17:17] darkstarx commented on #994
That was a mistake. You just had to expose the method `shouldShowRequestPermissionRationale` for every platform (on non-Android platforms just return true if denied) and allow users of the plugin to decide themselves how to work with this functionality. That's because only Android OS knows when `shouldShowRequestPermissionRationale` returns true and false, including the case 'Ask every time'.

[2022-11-18 18:30] mvanbeusekom commented on #994
Hi @darkstarx thank you for your feedback. However I fail to see how `shouldShowPermissionRationale` will help out in this situation.

In cases where the user allowed permission once, each time the application starts the `shouldShowPermissionRationale` will return `false` so using this method will not give you any additional trigger to request permissions.

So when a user initially permanently den

[2022-11-20 15:52] cnkygmr opened #1175 "[Enhancement proposal] Activating location service on Android Geolocator 9.0.2"
`bool isLocationServiceEnabled  = await Geolocator.isLocationServiceEnabled();`

When you use this code, the popup that should appear in order to activate the location on android does not appear.

`Position position = await Geolocator.getCurrentPosition(desiredAccuracy: LocationAccuracy.high);`

When this code runs, the popup that needs to be opened asks for permission to open

When you call the i

[2022-11-20 19:51] darkstarx commented on #994
The reason is quite simple. I want to call this method before requesting permissions. In other words, I'd like to know the status and not to show the system request dialog. In current implementation if the requesting is possible the system dialog will appear on requesting permissions. But I need to know the status (`denied` or `deniedForever`) silently for the user. And if it was `denied`, I'd sho

[2022-11-20 20:19] mvanbeusekom commented on #994
The reason we left this method out was to have the biggest common cross-platform abstraction. I am afraid that adding the method (and have it return `true` on all other platforms) causes more confusion then it would solve having it available and only working (in a already confusing way) on Android.

The use case you suggest would also not work. The outcome of the `checkPermission` doesn't affect t

[2022-11-20 20:22] #1129 closed

[2022-11-21 08:42] richCode-Ama commented on #1174
am facing the same issue I want to take the data in 33milliseconds

[2022-11-21 08:49] darkstarx commented on #994
Of course it shouldn't affect. This methods should be separate. The `checkPermission` gives me the answer if I should ask the user to allow the access, and the `shouldShowRequestPermissionRationale` gives the answer if the platform will actually show the system request dialog if I ask the user to allow the access. In other words, the second method might have name `shouldRequestPermission`.

That w

[2022-11-22 21:59] fabioginzel commented on #546
that error is back

[2022-11-23 16:42] mathklk commented on #1005
Does that mean it's not possible at all do get position updates while the app is in the background? Is that a limitation of this plugin or of flutter itself?

[2022-11-23 22:55] simplenotezy commented on #1152
On android, this will not work:

[code]

This is our current workaround:

[code]

[2022-11-24 01:08] yamaroni commented on #1175
Feel the same way and finally, i use another plugin to get ask permission popup showing on screen.
Here the plugin : [Permission Handler](https://pub.dev/packages/permission_handler)

[2022-11-24 08:10] cnkygmr commented on #1175
Yes it makes sense but I can use it now with the getCurrentPosition function. When this function runs, it asks for that permission, if it doesn't, an error pops up.

[2022-11-25 05:04] lahirunc commented on #1065
Same issue persist

workmanager: ^0.5.0
geolocator: ^9.0.2

Anyone has a solution for this?

[2022-11-25 13:23] fabiomlferreira commented on #1172
But if we only put the app in background we will continue to receive the positions?

In the documentation we have confusing information:
"if you want to continue receiving updates even when your App is running in the background (note that the geolocator plugin doesn't support receiving and processing location updates while running in the background):"

It tell that we can enable background but geo

[2022-11-26 10:17] vignesh235 opened #1176 "geolocation does not work in workmanger"
geolocation does not work in workmanger
![image](https://user-images.githubusercontent.com/95606753/204083682-4125c9c7-5b7d-4975-ba5b-caa02f300b95.png)

[2022-11-30 08:30] zs-dima opened #1177 "[BUG] [EXCEPTION] timeLimit leads to the 'Time limit reached while waiting for position update' exception."
timeLimit leads to the 'Time limit reached while waiting for position update' exception:

[code]

[code]

In case when timeLimit is not set geolocator working well.

It is not difference if
<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
or
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
set for the AndroidManifest.xml.

**Version:** 9.0.2, 8